.btn-primary {
  background-color: var(--color-primary);
  padding: 1rem;
}

.btn-primary:hover {
  background-color: var(--color-navy);
  cursor: pointer;
}

.btn-base {
  padding: 1rem;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
